{% extends 'layouts.html' %}
{% load crispy_forms_tags %}
{% block title %}
Password Reset Form
{% endblock %}

{% block content %}
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">

</section><!-- End Breadcrumbs -->
<section>
  <center>
  <div class="login_top">

      <h3>Enter new password</h3>

      <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

      <form class="container" method="post">

      	{% csrf_token %}
      	{{form.as_p}}
        <br>
      	<input type="Submit" name="Update Password">

      </form>
  </div>
</section>

{% endblock %}
