{% extends 'layouts.html' %}
{% load crispy_forms_tags %}
{% block title %}
Change Password
{% endblock %}

{% block content %}
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">

</section><!-- End Breadcrumbs -->

<center>
<!-- <div class="line">

</div> -->
<div class="login_top">
  <h2>Change Your Password!</h2><br>
  <form class="container" method="POST">
    {{ form|crispy}}
    {% csrf_token %}
<br>
  <button type="submit" class="btn btn-success btn-sm" >Change</button>

  </form>
</div>
<div class="login_bottom">


</div>
{% endblock %}
