{% extends 'layouts.html' %}
{% load crispy_forms_tags %}
{% block title %}
Profile Page
{% endblock %}
{% block body_block %}
{% block css_block %}
<style>
  .profile{
    width:1000px;
    border:1px solid #ccc;
    padding-top:80px;
    padding-bottom:40px;
  }

</style>
{% endblock %}
<div class="profile">
  <h2>Your Profile: </h2><br>

  <p>Username: {{user.username}}</p>
  <p>Email: {{user.email}}</p>
  <p>Name: {{user.full_name}}</p>
  <p>Address: {{user.address_1}}</p>
  <p>City: {{user.city}}</p>
  <p>Zipcode: {{user.zipcode}}</p>
  <p>Country: {{user.country}}</p>
  <p>Contact No.: {{user.phone}}</p>
  <br>
  <a href="{% url '' %}" class="btn btn-warning btn-sm">Change Profile User</a>

</div>

{% endblock %}
