{% extends 'layouts.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Subscribe
{% endblock %}

{% block content %}
<div class="padding">
  <center>
  <h2>Subscribe</h2>
  <div class="container">
    {% crispy form %}
  </div>
  {% if payment %}
  <form class="text-center border border-light p-2 " style="width: 10%;
    margin-top: 1%;" action="{% url 'payment_status'%}" method="POST">
      {% csrf_token %}

      <!-- <p class="h3 mb-3"><i class="fas fa-coffee"></i> BUY ME A COFFEE!!</p>
      <p class="mb-3">Help us create more videos by donating 500 INR</p>

      <input type="name" name="name" id="name" required class="form-control mb-4" placeholder="Name"> -->

      <!-- RAZORPAY INTEGRATION HERE -->
      <script src="https://checkout.razorpay.com/v1/checkout.js"
      data-key="rzp_test_uxpXt2M6OCK6fN"
      data-amount="{{payment.amount}}"
      data-currency="{{payment.currency}}"
      data-order_id="{{payment.id}}"
      data-buttontext="Join Now"
      data-name="Indican"
      data-description="Membership"
      data-image="{% static 'img/logo3.png'%}"
      data-prefill.name="{{payment.name}}"
      data-prefill.email=""
      data-theme.color="#CDA45E"></script>
      <input type="hidden" custom="Hidden Element" name="hidden">
  </form>
  {% endif %}
</div>


{% endblock %}
