@media (orientation: portrait) {
	#auto_rotate_image_container{
		display: block;
		text-align: center;
	}
	#auto_rotate_image{
		width:50%;
	}
}
@media (orientation: landscape) {
    #auto_rotate_image_container{
		display: none;
	}
	#auto_rotate_image{
		width: 30%;
	}
}
#auto_rotate_image_container{
	position:fixed !important;
	width:100%;
	top:0px;
	left:0px;
	height:100%;
	opacity:1;
	z-index:1000000;
	background:#ffffff;
}
img#whatsapp_link {
	height: 25px;
}

.top-div{
	position: fixed;
	top: 2%;
	padding-left: 10%;
	padding-right: 10%;
	z-index: 10000;
	width: 100%;
}
.top-div .custom-header{
	background-image: linear-gradient(180deg, #1E6BB7 0%, #1B4280 100%);
	border-radius:10px;
	border-radius: 10px;
    border: solid white 1px;
}

@media screen and ( max-width: 1000px ) {
			.top-div a{
				font-size:11px;
			}
			.top-div{
				position: fixed;
				top: 2%;
				border-radius: 7px;
				padding-left: 3%;
				padding-right: 3%;
				z-index: 10000;
				width: 94%;
			}
			.btn.btn-custom {
			    padding: 3px 12px;
			    font-size: 11px;
			    border: solid 1px;
			}
		}

a.ytp-youtube-button.ytp-button.yt-uix-sessionlink {
    display: none;
}
