{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link href="{% static 'css/demo.css'%}" rel="stylesheet">
    <title>Hello, world!</title>
  </head>
  <body>

    <div class="hero-slider" data-carousel>
  <div class="carousel-cell" style="background-image:url(https://78.media.tumblr.com/469798be38e86cc01ea4ba08563af785/tumblr_p38kazKBIX1snegd3o1_1280.jpg);">
    <div class="overlay"></div>
    <div class="slide-content">
      <div class="mask">
        <h2 class="title">Slide 1</h2>
      </div>
      <div class="divider"></div>
      <div class="mask">
        <p class="caption">Flickity is fun to use.</p>
        <a href="https://flickity.metafizzy.co/" target="_blank" class="btn">Tell me more</a>
      </div>
     </div>
  </div>
  <div class="carousel-cell" style="background-image:url(https://78.media.tumblr.com/f3577e640674f66119dad5ce61b4582c/tumblr_ozf8vw9LYN1snegd3o1_1280.jpg);">
    <div class="overlay"></div>
    <div class="slide-content">
      <div class="mask">
        <h2 class="title">Slide 2</h2>
      </div>
      <div class="divider"></div>
      <div class="mask">
        <p class="caption">Flickity is flexible.</p>
        <a href="https://flickity.metafizzy.co/" target="_blank" class="btn">Tell me more</a>
      </div>
     </div>
  </div>
  <div class="carousel-cell" style="background-image:url(https://78.media.tumblr.com/895918f98ebb3644e885f663bf63ba61/tumblr_pa4fmzV4kV1snegd3o1_1280.jpg);">
    <div class="overlay"></div>
    <div class="slide-content">
      <div class="mask">
        <h2 class="title">Slide 3</h2>
      </div>
      <div class="divider"></div>
      <div class="mask">
        <p class="caption">Flickity is awesome.</p>
        <a href="https://flickity.metafizzy.co/" target="_blank" class="btn">Tell me more</a>
      </div>
     </div>
  </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
