{% extends 'layouts.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Service Provider
{% endblock %}
{% block style %}

<link href="{% static 'css/service.css'%}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}



<section id="service">
  <div class="container" >

  <div style="padding-top:3rem" class="padding">
  <div class="section-title">
    <h2>Visa Support</h2>
    <p>Visa Support</p>
  </div>
  <center>
    <h1 style="font-size:3.6rem">Service Providers Will Be Live Soon</h1>
    </div>
    </div>


</section>



</div>
{% endblock %}
{% block js %}

{% endblock %}
